@{
	Layout = "Master.cshtml";
}
<div class="container mt-5 mb-5">
    <div class="col-4">
        <form method="get" id="search-form" class="input-group mb-3 mt-3">
            <input name="search" type="text" class="form-control" placeholder="Search Loads..." aria-label="Search Loads..." aria-describedby="button-addon">
            <button class="btn btn-outline-primary" type="submit" id="button-addon">Search</button>
        </form>
    </div>
    @await Component.InvokeAsync("Load")
</div>
